{
  "openapi": "3.0.3",
  "info": {
    "title": "OAuth",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://www.universe.com/oauth"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/authorize": {
      "get": {
        "summary": "Authorize",
        "description": "",
        "operationId": "testinput-1",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Your application client id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "your_client_id"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "code"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "Your application's registered redirect URI",
            "required": true,
            "schema": {
              "type": "string",
              "default": "https://your_app.com/callback"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/token": {
      "post": {
        "summary": "Token",
        "description": "",
        "operationId": "token",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "grant_type",
                  "client_id",
                  "client_secret",
                  "redirect_uri"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Auth code received from /authorize flow",
                    "default": "AUTH_CODE"
                  },
                  "grant_type": {
                    "type": "string",
                    "default": "authorization_code"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your application client id",
                    "default": "YOUR_CLIENT_ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your application client secret",
                    "default": "YOUR_CLIENT_SECRET"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Your application redirect URI. This must match the redirect_uri value provided in the authorize step.",
                    "default": "https://your_app.com/callback"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"access_token\": \"844...bbb\",\n    \"token_type\":\"bearer\",\n    \"expires_in\": 2592000,\n    \"refresh_token\": \"006...686\",\n    \"scope\": \"public\", \n    \"created_at\": 1494964915\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "844...bbb"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 2592000,
                      "default": 0
                    },
                    "refresh_token": {
                      "type": "string",
                      "example": "006...686"
                    },
                    "scope": {
                      "type": "string",
                      "example": "public"
                    },
                    "created_at": {
                      "type": "integer",
                      "example": 1494964915,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": \"invalid_grant\",\n  \"error_description\": \"The provided authorization grant is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client.\"\n}⏎"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/token/info": {
      "get": {
        "summary": "Token Info",
        "description": "",
        "operationId": "token-info",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "You MUST prefix the value with 'Bearer '",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer YOUR_TOKEN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"resource_owner_id\": String,\n  \"scopes\": Array<String>,\n  \"expires_in_seconds\": Integer,\n  \"application\": {\n    \"uid\": String\n  },\n  \"created_at\": UnixEpochInteger\n}"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\":\"invalid_request\",\n  \"error_description\": \"The request is missing a required parameter, includes an unsupported parameter value, or is otherwise malformed.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_request"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "The request is missing a required parameter, includes an unsupported parameter value, or is otherwise malformed."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": []
  },
  "x-readme-fauxas": true
}